#logo{
    background-color: #ebeff5;
}
body {
    background-color: #ebeff5;
}
#total-order{
    background-color: #4cb4c7;
}
#orders-delivered{ 
    background-color: #7abecc;
}
#total-order{
    background-color: #7CD1C0;
}